.columns__footer{
    height: 50px;
    background-color: black;
}
.columns__nav{
    height: 70px;
    background-color: rgb(206, 199, 199);
}
.columns__banner{
    height: 400px;
    background-image: url("../../assets/img/1.jpg");
    background-position: bottom;
    margin-bottom: 10px;
}
.columns__cards{
    height: 300px;
   border: 1px solid rgb(245, 244, 244);
   padding: 50px 100px;
}
.cards__title{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color: black;
}
.cards__comment{
    font-size: 16px;
    text-align: center;
    color: black;
}
.hero__container{
    position: relative;
    height: 150px;
}
.hero__container-black{
    position: absolute;
    top: -75%;
    left: 8%;
    margin-top: -50px;
    height: 470px;
    width: 1100px;
    background-color: black;
}
/* carousel */
.team__center{
   text-align: center;
   margin: 0;
}
body > main > div.container{
    margin-bottom: 50px;
}
.container__team{
    font-size: 42px;
    color: black;
    padding-top: 50px;
    font-weight: 700;
    display: inline-block;
}
.container__team-2{
    font-size: 42px;
    color: rgb(141, 141, 141);
    padding-top: 50px;
    display: inline-block;
    padding-left: 10px;
}
/* carosel */
/* offset */
body > main > div:nth-child(5) > div{
    min-height: 250px;
    background: mediumseagreen;
    margin-bottom: 50px;
}
.offset__center{
    text-align: center;
    margin: 0;
 }
 .offset__center_team{
     font-size: 42px;
     color: white;
     padding-top: 50px;
     font-weight: 500;
     display: inline-block;
 }
 .offset__center_team-2{
     font-size: 42px;
     color: white;
     padding-top: 50px;
     padding-bottom: 30px;
     display: inline-block;
     padding-left: 10px;
 }
.field{
     width: 400px;
 display: inline-block;
 }

 body > main > div:nth-child(5) > div > div > section{
     text-align: center;
 }
body > main > div:nth-child(5) > div > div > section > div:nth-child(4) > div > button{
    text-align: left;
}
 body > main > div:nth-child(5) > div > div > section > div:nth-child(2) > div{
     margin: 5px;
 }
 .is-half{
     height: 600px;
     background: rgb(29, 29, 29);
 }
 .bg{
background-image: url("../../assets/img/8.jpg");
background-position: center;
 }
 .is-half__center{
     text-align: end;
 }